.main__nav-bar {
  padding: 0 1.7rem;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1.7rem 0;

  .nav__logo-container {
    height: 100%;
    width: 5rem;

    img {
      width: 110%;
      height: 100%;
    }
  }

  .nav__menu-links {
    margin: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    list-style: none;

    .nav__menu-link {
      padding: 10px 15px;
      white-space: nowrap;
      cursor: pointer;
    }
    
    .nav__menu-link a {
      font-size: 1.1rem;
      cursor: pointer;
      transition: all 5ms ease-in;
    }

    .nav__menu-link a:hover {
      scale: 1.15;
      text-decoration: underline;
      text-underline-offset: 4px;
    }


  }
}
