
.category__preview-container {
    
    margin: 5rem auto;

    .category__preview-title{
        cursor: pointer;
        text-decoration: underline;
        font-size: 2rem;
        display: inline-block;
        transition: scale 0.2ms ease-in-out;
    }

    .category__preview-title:hover{
        color: #000000;
        text-shadow: 1px 1px #00eeff57;
    }

    .category__product-preview {
        display: flex;
        gap: 2rem;
    }


}