:root {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  // color-scheme: light dark;
  // color: rgba(255, 255, 255, 0.87);
  // background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1400px;
  min-height: 100vh;
}


a {
  color: #5a5a5a;
  text-decoration: none;
}

a:hover {
  color: #111;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin-top: 1rem;
  font-size: 3.2em;
  line-height: 1.1;
}

main {
  padding: 0.5em;
}


// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//     color: #747bff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }
