.checkout__page {

    .checkout__cart-container{
        min-height: 30rem;
        min-height: 35dvh;
    }

    .total__price{
        margin: auto;
        max-height: 3rem;
        width: 100%;
        padding: 0rem 1rem;
        max-width: 1200px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 2rem;
        font-size: 1.4rem;
    
        h4{
            margin: 0;
        }
    }
}