.form__sign-in-container {


    padding: 0.5em 1em;
    max-width: 30rem;
    width: 100%;


    h4 {
        margin: 0.7rem 0 3rem;
        color: #666;
        text-decoration: underline;
        font-size: 1.2rem;
    }
    
    h2{
        
    }
} 